.cart-dropdown {
  position: absolute;
  width: 240px;
  height: 340px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  //create a gradient background color for the dropdown using blue color variations
  background: linear-gradient(
    to bottom,
    rgba(236, 233, 233, 0.1) 25%,
    rgba(0, 0, 0, 0.5) 75%
  );

  top: 90px;
  right: 0;
  z-index: 5;

  .cart-items {
    height: 285px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }

  button {
    margin-top: auto;
  }
}
