.cart-dropdown {
  position: absolute;
  width: 240px;
  height: 340px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  top: 90px;
  //make the background color of the dropdown white and  slightly transparent;
  background-color: rgba(255, 255, 255, 0.5);
  right: 0;
  z-index: 5;

  .cart-items {
    height: 285px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overflow-x: hidden;
  }

  button {
    margin-top: auto;
  }
}
