.App {
  text-align: center;
}

h1 {
  font-family: "Bigelow Rules";
  font-size: 72px;
  color: #0ccac4;
}

body {
  font-family: "Courier New", Courier, monospace;
  padding: 20px 55px;
}

a {
  text-decoration: none;
  color: black;
}
